#display{
    width: 130px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}
body{
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

table{
    text-align: center;
    border: 2px solid gold;
    margin-left: 20px;
}
button{
    padding: 5px;
    width: 40px;
}