
body{
    background-color: #BC9F8F;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    text-align: center;
    text-shadow: 1px 1px 10px #FFA500;
}
ul{
    float: left; 
    list-style-type: none;
}

nav>ul>li>ul{
    margin: 10px 150px 10px 150px;
    text-shadow: 1px 1px 5px white;
}

nav>ul{
    width: 95.4vw;
    border-style: inset;
    border-color: black;
    background-color: #A0522D;
    border-radius: 5px;
}

header>img{
    width: 100px;
    height: 100px;
    border-radius: 500px;
}

#img-bod{
    width: 110%;
    border-radius: 5px;
}

#text-bod{
    width: 60%;
    padding: 120px;
    text-align: justify;
}

a:link{
    text-decoration: none;
    color:black;

}

a:visited{
    color: black;
}

a:hover{
    color: orange 
}

input{
    font-size: 20px;
    border-radius: 5px;
}

form{
    width: 560px;
    height: 450px;
    border-style: inset;
    border-color: black;
    border-radius: 8px;
    margin: 150px 0px 0px  600px;
    text-align: center;
    background-color: #A0522D;
}

label{
    text-shadow: 1px 1px 5px #FFA500;
    font-size: 20px;
}

h2{
    text-shadow: 1px 1px 10px #FFA500;
    color: black;
}

table{
    margin-left: 3px;
}

button{
    font-size: 18px;
    text-shadow: 1px 1px 10px #FFA500;
    color: black;
    border-radius: 5px; 
    background-color: #A0522D;  
}

.cad-training{    
    margin-left: 700px;
    height: 400px;
    width: 300px;
}

#cad-training{
    margin-left: 10px;
}

#status-train{
    background-color: gray;
    border-radius: 5px;
    border: 2px solid black;
}

th{
    border: 1px solid black;
}


.table-bd{
    border: 2px solid black;
    border-style: outset;
    border-radius: 5px;
    border-color:#A0522D;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.button_bd:hover{
    color: #FFA500;
}

#login{
    border: 2px solid black;
    border-style: outset;
    border-radius: 5px;
    border-color:#A0522D;
    padding: 10px 10px 5px 7px;
    float: right;
    height: 175px;
    width: 260px;
    margin-top: 15px;
}

#login>button{
    margin-top: 8px;
}

